---
name: Validate Workflows
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Validate YAML
        uses: ibiqlik/action-yamllint@v3
        with:
